<script setup lang="ts">
import MainLayout from "@/layouts/MainLayout.vue";
/* import FullLayout from "@/layouts/FullLayout.vue"; */
import LoadingDialog from "./components/LoadingDialog.vue";
import MessageDialog from "./components/MessageDialog.vue";
</script>
<template>
  {{ $route.meta }}
  <component :is="MainLayout"></component>
  <LoadingDialog></LoadingDialog>
  <MessageDialog></MessageDialog>

  <!-- <MainLayout></MainLayout> -->
</template>

<style scoped></style>
